
.Navb{
    width: 100vw;
    height: 30vh;
    background-color: #4682B4;

}
.register-body{
    background-color: #4682B4;
    height: 100vh;
    flex-wrap: wrap;
    width: 100vw;


}
.info-reg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.reg-card{
    height: 80vh;
    width: 30vw;
    background-color:white;
    margin-top: 0.7vh;
    margin-bottom: 2vh;
    margin-left: 60vw;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
/* .e1{
    display: none;
}
.e2{
    display: none;
} */